plasmo-csui{
    display: none;
}
#english-reader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

#main-article {
    width: 70%;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

#main-article .translation {
    color: darkcyan;
    font-style: italic;
    margin-top: 10px;
}

#sidebar {
    width: 30%;
    overflow-y: auto;
    background: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}


#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1.6em;
    height: 1.6em;
    font-size: 1em;
    cursor: pointer;
    /* border: 1px solid gray; */
}

p.origin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 
#controls-section {
    border-bottom: 1px solid black;
    padding-bottom: .5em;
}

#vocab-sidebar h2 {
    font-size: 2em;
    font-weight: bold;
    color: darkcyan;
}

.phonetics {
    display: flex;
    margin-top: .5em;
}

#vocab-sidebar .phonetic-speaker-icon {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}

#vocab-sidebar .hidden-audio {
    display: none;
}



#vocab-sidebar ol {
    counter-reset: item;
}

#vocab-sidebar ol li {
    list-style: none;
    line-height: 1.5em;
    margin-left: 1em;
}

#vocab-sidebar ol li::before {
    counter-increment: item;
    content: counter(item) ". ";
    font-weight: bold;
}

#vocab-sidebar .partOfSpeech {
    color: darkcyan;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

#vocab-sidebar .example {
    color: cadetblue;
    font-weight: bold;
    margin-left: 1em;
}


.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#loading-status {
    display: none;
    margin-top: 10px;
    color: #666;
} */