<header class="bg-teal-800">
    <div class="container flex items-center justify-between ">
        <div class="flex ">
            <img src="/static/img/logo.png" alt="logo" class="logo">
            <h1>English Reader</h1>
        </div>
        
        <nav style="margin-left: 5em;">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('features') }}">Features</a></li>
                <li><a href="{{ url_for('premium') }}">Premium</a></li>
                <li><a href="{{ url_for('install') }}">Install</a></li>
                <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
